# Node
node_modules/
dist/
build/
.eslintcache
*.log

# Vite
.vite/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example
.env.local
.env.development
.env.production
.env.test

# Docker/DB
infra/db/pgdata/
uploads/

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/